.chart {
    position: absolute;
    /*width: 100%;*/
    /*border: solid red 1px;*/
}

.day {
    float: left;
    padding: 1em 0.2em 1em 0.2em;
    text-align: center; 
    border: 1px solid black;
    margin: .5em;
}

.day img {
    /*padding-bottom: 1em;*/
}

.day h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
}


.break {
	clear:both;
}

.container {
    position: absolute;
	width: 96%;
	left: 3%;
}

.slot {
    /*border-right: solid 1px black;*/
    position: absolute;
    padding: 0px;
    font-size: 1em;
}

.slotheader {
    position: absolute;
}


.slotcontainer {
    background-color: white;
    margin: 3px;
}

