
.chart {
    position: absolute;
    /*width: 100%;*/
    /*border: solid red 1px;*/
}

.calendar {
    position: absolute;
    /*width: 100%;*/
    /*border: solid black 1px;*/
    background-color: #cccccc;
}

.days {
    position: absolute;
    /*width: 100%;*/
    /*border: solid blue 1px;*/
}

.break {
	clear:both;
}

.container {
	width: 94%;
	left: 3%;
	top: 1em;
	min-width: 800px;
	margin: 0px auto;
    /*padding-bottom: 60px;*/
}

.slot {
    border-right: solid 2px white;
    border-left: solid 2px white;
    position: absolute;
    padding: 0px;
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 5px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.slotheader {
    position: absolute;
}


.slotcontainer {
    background-color: white;
    margin: 3px;
}

.hightemp {
    border-right: solid red 3px;
}

.lowtemp {
    border-right: solid blue 3px;
}

#navbar {
    width: 800px;
    position: absolute;
    left: 0px;
    top: 365px;
    /*padding-bottom: 60px;*/
/*    position: absolute;
    bottom: 0px;
    left: 0;
    height: 60px;*/
    background-color: #fff;
}

#navbar .name {
    font-size: 1.3em;
}

#navbar .btn {
    background: #89B0D3;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 0 rgba(0,0,0,0);
    font-size: 1.3em;
    text-decoration: none;
    text-transform: none;
    padding: 0.2em;
}

#navbar .c1 {
    float: left;
    width: 33%;
    padding: 0.3em;
    vertical-align: middle;
}

#navbar .c2 {
    float: left;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

#navbar .c3 {
    float: left;
    width: 33%;
    text-align: right;
    padding: 0.3em;
    vertical-align: middle;
}
