{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/always_on_display.css">
{% endblock %}

{% block navigation %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
var g_username = "{{ user.username }}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/d3/d3.v3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/d3/d3.time.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/q.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/sd_store.dataloader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/always_on_display.js"></script>
{% endblock %}

{% block content %}

<div class="chart">
</div>


{% endblock %}
