{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/calendar_example.css?x=1">
{% endblock %}

{% block navigation %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
var sensor_id = {{ sensor.id }};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/d3/d3.v3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/d3/d3.time.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/q.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/sd_store.dataloader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/calendar_example.js?x=1"></script>
{% endblock %}

{% block content %}

<div class="chart">
<div>Loading the data.. Please wait.</div>
</div>

<div id="navbar">
    <div class="c1"><a class="btn" href="{% url calendar_example_view %}?position={{ prev }}">&lt;&nbsp;Prev</a></div>
    <div class="c2"><span class="name">{{ sensor.name }}</span></div>
    <div class="c3"><a class="btn" href="{% url calendar_example_view %}?position={{ next }}">Next&nbsp;&gt;</a></div>
</div>

<script>
 window.setTimeout(function () {
         window.location.href = '{% url calendar_example_view %}?position={{ next }}';
}, 5 * 60 * 1000);
</script>

{% endblock %}
