{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block content %}
<script type="text/javascript">
var g_username = "{{ user.username }}";
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/q.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/sd_store.dataloader.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/data_example.js"></script>

<div>Hello world</div>


{% endblock %}
