{% extends "base.html" %}
{% load i18n %}

{% block content %}

<p>Sorry there was an error. Perhaps you entered an invalid email address?</p>

<p>Please <a href="javascript:history.go(0)">try again!</a></p>

{% endblock %}
