{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>{{site.name}}</title>
    <!-- JQuery -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}?x=1">

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
var server_url = "{{ ROOT_URL }}";
var g_username = "{{ user.username }}";
</script>
{% endblock %}

</head>
<body>

{% block navigation %}
{% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
