{% extends "base.html" %}
{% load i18n %}


{% block title %}
{{ site.name }} Login
{% endblock %}

{% block description %}
<h2>Login</h2>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
       {% csrf_token %}

    <label>{{ form.username.label_tag }}</label>
        {{ form.username }}
    <label>{{ form.password.label_tag }}</label>
        {{ form.password }}
<p>
    <input type="submit" value="login" />
</p>

<input type="hidden" name="next" value="{{ next }}" />
</form>

<p>
{% trans "Forgot your password?" %}
{% trans "Ask the admin to reset it" %}!
</p>
<p>{% trans "Do not have an account yet?" %} ask the admin to create one for you!
</p>
{% endblock %}
